body
{
    text-align: center;
    margin: auto;
    width: 50%;
    background-color: #003366
}

.divbody
{
    background-color: #FFFFFF;
}

.class_subject{
    text-align: left;
}
.header
{
    text-align: center;
}
